<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理系统</title>
<link type="image/x-icon" href="/favicon.ico" rel="icon" />

{load href="/static/admin/css/common.css,/static/admin/css/user.css" /}
<link rel="stylesheet" type="text/css" href='/static/admin/skin/{if isset($admin['user_style'])}{$admin['user_style']}{else}blue.css{/if}' id="skin-style-file" />
{load href="/static/js/lib.js,/static/js/fn.extend.js" /}