{include file="public/header" /}
	<div class="onecolumn">
		<div class="header">
			<h3>{if !isset($data)}添加{else}修改{/if}角色组</h3><span class="ie7-hide"></span>
		</div>
		
		<div class="content">
			<form method="post" id="cate" action="{:url(request()->controller().'/'.request()->action(), array('id'=>input('param.id')))}" class="toAjaxForm">
				
				<div class="edit-item">
					<label for="group_name" class="lefter">角色组名称：</label>
					<div class="righter must"><input type="text" class="long-txt require" name="group_name" id="group_name" value="{$data['group_name']|default=''}"></div>
				</div>
				
				<div class="edit-item">
					<label for="username" class="lefter">可操作权限：</label>
					<div class="righter">
						<input type="checkbox" onclick="$.checkbox(this,'#auth-table')">全选/反选
					</div>
				</div>
				
				{php}
					$data['group_resources'] = isset($data['group_resources']) ? json_decode($data['group_resources'], true) : [];
				{/php}
				{foreach $resources as $key => $resource}
					{if $resource['list']}
						<table id="auth-table" style="line-height: 25px;">
								<tr><th colspan="2" class="list-title"><input type="checkbox" onclick="$.checkbox(this,'.item-{$key}')"> {$resource['title']}</th></tr>
								{foreach $resource['list'] as $mod => $vo}
									{php}
										$idx=1;
										$m = isset($vo['default']['m']) ? $vo['default']['m'] : '';
										$a = isset($vo['default']['a']) ? $vo['default']['a'] : '';
									{/php}
									<tr class="item item-{$key}">
										<td class="list-title" width="150">
											<input{if $vo['list']} onclick="$.checkbox(this,'.{$mod}-item')"{/if} type="checkbox"{if strtolower($m) && strtolower($a)} name="permissions[]"  value="{:strtolower($m)}_{:strtolower($a)}"{if in_array(strtolower($m).'_'.strtolower($a), $data['group_resources'])} checked{/if}{/if}>{$vo['title']}
										</td>
										<td class="list-title {$mod}-item">
										{foreach $vo['list'] as $item}
											{php}
												$_key = strtolower((isset($item['identy']) || !isset($item['m']) ? $mod : $item['m']).'_'.$item['a']);
											{/php}
											<input type="checkbox" name="group_resources[]" value="{$_key}"{if in_array($_key, $data['group_resources'])} checked{/if}>{$item['title']}　
											{if $key=='set' && $idx%4==0}
												<br/>
											{/if}
											{php}
												$idx++;
											{/php}
										{/foreach}
										</td>
									</tr>
								{/foreach}
						</table>
					{/if}
				{/foreach}
				<div class="edit-item">
					<div class="righter">
						<span class="ui-btn ui-btn-green submit">提 交</span>
						<a href="javascript:void(0)" class="ui-btn cancel-btn">取 消</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{include file="public/footer" /}